.container {
    text-align: center;
}
button {
    padding: 10px;
  margin: 24px;
  cursor: pointer;
  font-size: 24px;
  background-color: #247BA0;
  color: white;
  text-align: center;
}
#countdown {
    margin-left: 700px;
    font-size: 24px;
}
#correctOne {  
    color: green;
    font-size: 50px;
}
#incorrectOne {
    color: red;
    font-size: 50px;
}
#correctTwo {
    color: green;
    font-size: 50px;
}
#incorrectTwo {
    color: red;
    font-size: 50px;
}
#correctThree {
    color: green;
    font-size: 50px;
}
#incorrectThree {
    color: red;
    font-size: 50px;
}
#correctFour {
    color: green;
    font-size: 50px;
}
#incorrectFour {
    color: red;
    font-size: 50px;
}

.gameOverScreen {
    height: 300px;
    width: 300px;
    background-color: darkgray;
    font-size: 30px;
}
#msg {
    font-size: 24px;
    color: blue;
}